/* styles.css */
.FooterBanner{
  padding: 30px;
  background-image: url('/mineral.jpg');
  background-size: cover;
  height: 290px;
   
}


.textobajo {
  text-align: center;
  font-size: 24px; /* ajusta el tamaño del texto según tu preferencia */
  font-weight: bold;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff;
}
